[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
black = "*"
rope = "*"

[packages]
absl-py = "==0.7.0"
astor = "==0.7.1"
bleach = "==1.5.0"
bpemb = "*"
certifi = "==2018.11.29"
chardet = "==3.0.4"
click = "==7.0"
cymem = "==2.0.2"
cytoolz = "==0.9.0.1"
dill = "==0.2.9"
gast = "==0.2.2"
gensim = "*"
grpcio = "==1.18.0"
h5py = "==2.9.0"
html5lib = "==0.9999999"
idna = "==2.8"
itsdangerous = "==1.1.0"
joblib = "==0.13.1"
keras = "*"
markupsafe = "==1.1.0"
msgpack-numpy = "==0.4.3.2"
msgpack = "==0.5.6"
murmurhash = "==1.0.1"
nltk = "==3.4.5"
numpy = "==1.16.1"
pandas = "==0.24.1"
plac = "==0.9.6"
preshed = "==2.0.1"
protobuf = "==3.6.1"
python-dateutil = "==2.8.0"
pytz = "==2018.9"
regex = "==2018.1.10"
requests = "==2.21.0"
scikit-learn = "==0.20.2"
scipy = "==1.2.0"
singledispatch = "==3.4.0.3"
six = "==1.12.0"
spacy = "==2.0.18"
tensorboard = "==1.7.0"
tensorflow = "==1.7.0"
termcolor = "==1.1.0"
thinc = "==6.12.1"
toolz = "==0.9.0"
tqdm = "==4.30.0"
ujson = "==1.35"
urllib3 = "==1.24.1"
wrapt = "==1.10.11"
Flask = "==1.0.2"
Jinja2 = "==2.10"
Markdown = "==3.0.1"
PyYAML = "==3.13"
Werkzeug = "==0.14.1"
geojson = "*"
poyo = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
server = """
bash -c "PYTHONPATH=. python -m lingofunk_classify_relevance.app.server --port 8000"
"""
